<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.1.xsd
                           http://www.springframework.org/schema/security
                           http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<context:property-placeholder location="classpath:application.properties" ignore-unresolvable="true"/>
	
	<security:http auto-config="true" >
		<security:intercept-url pattern="/**" access="ROLE_USER"/>
		<security:form-login/>
	</security:http>

	<security:authentication-manager>
		<security:authentication-provider>
			<security:user-service>
				<security:user name="ravi" password="password" authorities="ROLE_USER, ROLE_ADMIN"/>
			</security:user-service>
		</security:authentication-provider>
	</security:authentication-manager>
	
	<context:annotation-config />
	
	<bean id="rcf" class="com.riskcare.forums.client.RCF">
		<property name="mainView" ref="mainView" />
	</bean>
	
	<bean id="mainView" class="com.riskcare.forums.client.RCFMainView">
		<property name="rcfAdmin" ref="rcfAdmin" />
	</bean>
	
	<bean id="rcfAdmin" class="com.riskcare.forums.client.ui.RCFAdmin">
		<property name="categoryManagement" ref="categoryManagement" />
		<property name="postManagement" ref="postManagement" />
	</bean>
	
	<bean id="categoryManagement" class="com.riskcare.forums.client.ui.RCFCategoryManagement">
		<property name="categoryView" ref="categoryView"/>
	</bean>
	
	<bean id="postManagement" class="com.riskcare.forums.client.ui.RCFPostManagement" />
	
	<bean id="categoryView" class="com.riskcare.forums.client.ui.CategoryView">
		<property name="categoryTree" ref="categoryTree" />
	</bean>
	
	<bean id="categoryTree" class="com.riskcare.forums.client.ui.CategoryTree">
		<property name="categoryContainerController" ref="categoryContainerController" />
	</bean>
	
	<bean id="categoryContainerController" class="com.riskcare.forums.server.container.CategoryContainerController" >
		<property name="categoryService" ref="categoryService" />
		<property name="clientFactory" ref="clientFactory" />
	</bean>
	
	<bean id="clientFactory" class="com.riskcare.forums.client.RCFClientFactoryImpl">
		<property name="authenticationService" ref="authenticationService" />
	</bean>
	
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="configLocation">
            <value>classpath:hibernate.cfg.xml</value>
        </property>
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan">
            <list>
                <value>com.riskcare.forums.server.entity</value>
            </list>
        </property>        
    </bean>
    
	<bean id="categoryService" class="com.riskcare.forums.server.service.CategoryService">
		<property name="categoryDAO" ref="categoryDAO" />
	</bean>

	<bean id="authenticationService" class="com.riskcare.forums.server.service.AuthenticationServiceImpl" />
	<bean id="categoryMapper" class="com.riskcare.forums.server.dao.category.CategoryMapper" />

    <bean id="cpDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">

        <property name="driverClass" value="${jdbc.driverClassName}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="maxIdleTime" value="${dbconnection.maxIdleTime}"/>
        <property name="maxPoolSize" value="${dbconnection.maxPoolSize}"/>
        <property name="minPoolSize" value="${dbconnection.minPoolSize}"/>
        <property name="initialPoolSize" value="${dbconnection.initialPoolSize}"/>
        <property name="maxStatements" value="${dbconnection.maxStatements}"/>
        <property name="acquireIncrement" value="${dbconnection.acquireIncrement}"/>
        <property name="idleConnectionTestPeriod" value="${dbconnection.idleConnectionTestPeriod}"/>
        <property name="testConnectionOnCheckin" value="${dbconnection.testConnectionOnCheckin}"/>
        <property name="preferredTestQuery" value="${dbconnection.preferredTestQuery}"/>
        <property name="loginTimeout" value="${dbconnection.loginTimeout}"/>
	        
    </bean>
	
    <bean id="categoryDAO" class="com.riskcare.forums.server.dao.category.CategoryDAO">
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean>
        
</beans>
